@mixin chevron($width, $height: $width, $thickness: 3px, $direction: top, $color: #000000)
{
   $directions: up, right, down, left;

   $index: index($directions, $direction);
   @if $index == null
   {
      @warn 'The direction provided (#{$direction}) is not allowed';
   }

   &:before
   {
      border-bottom: $thickness solid $color;
      border-left: $thickness solid $color;
      content: "";
      display: inline-block;
      height: $height;
      transform: rotate(45deg + (90deg * $index));
      width: $width;
   }
}