@mixin triangle($direction: top, $size: 10px, $color: #000000, $center: 50%, $margin: -1px, $pseudo: before)
{
   border-color: $color;

   &:#{$pseudo}
   {
      border-color: $color;
      content: "";
      position: absolute;

      @if $direction == "right"
      {
         border-bottom: $size solid transparent;
         border-left: $size solid $color;
         border-left-color: inherit;
         border-top: $size solid transparent;
         left: 100%;
         margin-left: $margin;
         margin-top: $size * -1;
         top: $center;
      }
      @else if $direction == "down"
      {
         border-left: $size solid transparent;
         border-right: $size solid transparent;
         border-top: $size solid $color;
         border-top-color: inherit;
         left: $center;
         margin-left: $size * -1;
         margin-top: $margin;
         top: 100%;
      }
      @else if $direction == "left"
      {
         border-bottom: $size solid transparent;
         border-right: $size solid $color;
         border-right-color: inherit;
         border-top: $size solid transparent;
         margin-right: $margin;
         margin-top: $size * -1;
         right: 100%;
         top: $center;
      }
      @else
      {
         border-bottom: $size solid $color;
         border-bottom-color: inherit;
         border-left: $size solid transparent;
         border-right: $size solid transparent;
         bottom: 100%;
         left: $center;
         margin-bottom: $margin;
         margin-left: $size * -1;
      }
   }
}