*
{
   &,
   &:before,
   &:after
   {
      box-sizing: inherit;
      hyphens: auto;
      overflow-wrap: break-word;
   }

   &:focus
   {
      outline: 3px solid $guardsmanRed;

      .mouse-active &
      {
         outline: none;
      }
   }
}