.headline
{
   text-align: center;

   @include respondTo(desktop)
   {
      font-size: 55px;
      margin-top: map-get($auderoSpacingUnits, tiny);
   }

   &__job,
   &__quote
   {
      display: block;
   }

   &__job
   {
      color: $faluRed;
      font-family: $auderoFontFamilyGraduate;

      @include respondTo(tablet)
      {
         font-size: 50px;
      }

      @include respondTo(desktop)
      {
         font-size: 80px;
      }
   }

   &__motto
   {
      display: none;

      @include respondTo(tablet)
      {
         display: block;
         font-family: $auderoFontFamilyGaramond;
         font-size: 25px;
      }

      @include respondTo(desktop)
      {
         font-size: 30px;
      }
   }
}