$toggleButtonSize: 16px;

.projects-menu
{
   background-color: $shark;
   color: $white;
}

.projects-menu__label
{
   $marginLeft: map-get($auderoSpacingUnits, extraSmall) / map-get($auderoFontSizesRelatives, extraLarge);

   display: block;
   font-size: map-get($auderoFontSizesRelatives, extraLarge);
   margin-left: unquote($marginLeft + unit(map-get($auderoFontSizesRelatives, extraLarge)));
}

.projects-menu__toggle
{
   @include chevron($toggleButtonSize, $toggleButtonSize, 3px, down, $white);
   margin: 0;
   padding: map-get($auderoSpacingUnits, extraSmall);
   transition: 0.2s;

   @include respondTo(tablet)
   {
      @include hidden(false);
   }

   &--active
   {
      transform: rotate(180deg);
      transition: 0.2s;
   }
}

.projects-menu__items
{
   .projects-menu__label + &
   {
      margin-top: map-get($auderoSpacingUnits, extraSmall);
   }

   > li
   {
      &.current
      {
         background-color: $crimson;
      }
   }

   a
   {
      color: $white;
      display: block;
      padding: map-get($auderoSpacingUnits, extraSmall);

      &:hover,
      &:focus
      {
         background-color: $crimson;
         outline: none;
      }
   }
}