.pull-quote
{
   margin: 0;
   padding-bottom: map-get($auderoSpacingUnits, small);

   & + &
   {
      margin-top: map-get($auderoSpacingUnits, normal);
   }

   &__image
   {
      &--circle
      {
         border-radius: 50%;
      }
   }

   &__text
   {
      color: $grey;
      font-style: italic;

      &:before
      {
         content: "\201C";
         margin-right: -0.2em;
      }

      &:after
      {
         content: "\201D";
         margin-left: -0.2em;
      }
   }
}