.socials
{
   text-align: center;

   @include respondTo(tablet)
   {
      text-align: right;
   }

   + *
   {
      margin-top: map-get($auderoSpacingUnits, normal);
   }
}

.social
{
   display: inline-block;
   margin-top: map-get($auderoSpacingUnits, normal);
   vertical-align: top;

   @include respondTo(tablet)
   {
      margin-top: -13px;
   }

   & + &
   {
      margin-left: map-get($auderoSpacingUnits, extraSmall);

      @include respondTo(tablet)
      {
         margin-left: 0;
      }
   }

   [class*="-icon"]
   {
      @include respondTo(tablet)
      {
         display: none;
      }
   }

   [class*="ribbon"]
   {
      display: none;

      @include respondTo(tablet)
      {
         display: inherit;
      }
   }

   a
   {
      display: block;
   }
}