<footer class="footer">
   <h2 class="visually-hidden">Find me on</h2>
   <ul class="list-reset socials">
      <li class="social">
         <a href="http://www.twitter.com/AurelioDeRosa">
            <span class="icon icon--twitter-icon"></span>
            <span class="icon icon--twitter-ribbon"></span>
            <span class="visually-hidden">Follow me on Twitter</span>
         </a>
      </li>
      <li class="social">
         <a href="https://github.com/AurelioDeRosa">
            <span class="icon icon--github-icon"></span>
            <span class="icon icon--github-ribbon"></span>
            <span class="visually-hidden">See my Projects on GitHub</span>
         </a>
      </li>
      <li class="social">
         <a href="http://www.linkedin.com/in/aurelioderosa">
            <span class="icon icon--linkedin-icon"></span>
            <span class="icon icon--linkedin-ribbon"></span>
            <span class="visually-hidden">See my CV on Linkedin</span>
         </a>
      </li>
      <li class="social">
         <a href="https://plus.google.com/111199469497044249730?rel=author" rel="publisher">
            <span class="icon icon--google-plus-icon"></span>
            <span class="icon icon--google-plus-ribbon"></span>
            <span class="visually-hidden">Circle me on Google+</span>
         </a>
      </li>
      <li class="social">
         <a href="mailto:a.derosa@audero.it">
            <span class="icon icon--email-icon"></span>
            <span class="icon icon--email-ribbon"></span>
            <span class="visually-hidden">Send me an email at a.derosa@audero.it</span>
         </a>
      </li>
      <li class="social">
         <a href="skype:AurelioDeRosa">
            <span class="icon icon--skype-icon"></span>
            <span class="icon icon--skype-ribbon"></span>
            <span class="visually-hidden">Call me on Skype at AurelioDeRosa</span>
         </a>
      </li>
   </ul>

   <div class="belt">
      <h2 class="visually-hidden">Other links</h2>
      <ul class="list-reset">
         <li><a href="http://team.audero.it">Audero Team</a></li>
      </ul>
      <small class="islet copyright">
         Copyright © 2013 - 2016 Aurelio De Rosa
      </small>
   </div>
</footer>
