<nav class="js-menu menu">
   <button class="js-menu-toggle button-reset button button--rounded button--primary menu__toggle hidden float-right">
      <span class="visually-hidden">Toggle main </span>Menu
   </button>

   <ul class="js-menu-items island belt menu__items">
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/projects">Projects</a>
      </li>
      <li>
         <a href="/books">Books</a>
      </li>
      <li>
         <a href="/speaking">Speaking</a>
      </li>
      <li>
         <a href="/publications">Publications</a>
      </li>
      <li>
         <a href="/blog/">Blog</a>
      </li>
   </ul>
</nav>

<header class="header">
   <div class="island belt">
      <img class="align-horizontal" src="/images/audero-logo.png" alt="Audero logo" />
      <h1 class="headline">
         Aurelio De Rosa
         <span class="headline__job">Web Developer</span>
         <span class="headline__motto">The best and most successful software, always starts with a real need</span>
      </h1>
   </div>
</header>