<article class="paper">
   <h4 class="paper__title"><a href="{{url}}" target="_blank">{{title}}</a></h4>,
   <p class="paper__reference">{{reference}}</p>
   <time class="paper__date" datetime="{{date}}"></time>
</article>