---
title: JavaScript libraries
description:
---
<main>
   <article class="island belt">
      <h2>JavaScript libraries</h2>

      <p>
         In the latest years my passion for JavaScript is increased steeply and it has lead me to develop libraries
         that could be useful for me and for others. In this page, you can find the JavaScript libraries I created.
      </p>

      <article>
         <h3>Audero Sticky</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/audero-sticky" target="_blank">Audero Sticky</a>
             is a polyfill for the CSS <code>position: sticky</code> with no dependencies and support for multiple
            module systems.
         </p>
         <p>
            You can obtain Audero Sticky via <a href="https://www.npmjs.com/">npm</a>
            (<a href="https://www.npmjs.com/package/audero-sticky">npm page<span class="visually-hidden"> of
            Audero Sticky</span></a>),
            via <a href="http://git-scm.com">Git</a> (<a href="https://github.com/AurelioDeRosa/audero-sticky">GitHub
            page<span class="visually-hidden"> of Audero Sticky</span></a>) or simply
            <a href="https://github.com/AurelioDeRosa/audero-sticky/archive/master.zip">downloading
            the files<span class="visually-hidden"> of Audero Sticky</span></a> clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/audero-sticky/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Sticky</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/audero-sticky"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Sticky </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>JoindIn.js</h3>

         <p>
            <a href="https://github.com/joindin/JoindIn.js" target="_blank">JoindIn.js</a>
            is the official JavaScript library to embed Joind.in comments, talks, and more.
         </p>
         <p>
            You can obtain JoindIn.js via <a href="https://www.npmjs.com/">npm</a>
            (<a href="https://www.npmjs.com/package/joindin-js">npm page<span class="visually-hidden"> of
            JoindIn.js</span></a>),
            via <a href="http://git-scm.com">Git</a> (<a href="https://github.com/joindin/JoindIn.js">GitHub
            page<span class="visually-hidden"> of JoindIn.js</span></a>)
            or simply <a href="https://github.com/joindin/JoindIn.js/archive/master.zip">downloading the
            files<span class="visually-hidden"> of JoindIn.js</span></a>
            clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/joindin/JoindIn.js/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of JoindIn.js</span>
            </a>
            <a href="https://github.com/joindin/JoindIn.js"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">JoindIn.js </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Saveba.js</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Saveba.js" target="_blank">Saveba.js</a>
            is a JavaScript library that, relying on the Network Information API, tries to save bandwidth to users
            having a slow connection by removing unnecessary* resources (at the moment images only).
         </p>
         <p>
            You can obtain Saveba.js via <a href="http://git-scm.com">Git</a>
            (<a href="https://github.com/AurelioDeRosa/Saveba.js">GitHub
            page<span class="visually-hidden"> of Saveba.js</span></a>) or simply
            <a href="https://github.com/AurelioDeRosa/Saveba.js/archive/master.zip">downloading the
            files<span class="visually-hidden"> of Saveba.js</span></a> clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Saveba.js/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Saveba.js</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Saveba.js"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Saveba.js </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>GitHub Extended</h3>

         <p>
            <a href="https://github.com/github-tools/github-extended" target="_blank">GitHub Extended</a>
            is a collection of methods to extend the functionality of
            <a href="https://github.com/michael/github">Github.js</a> (known on <a href="https://www.npmjs.com">npm</a>
            as <a href="https://www.npmjs.com/package/github-api">github-api</a>).
         </p>
         <p>
            You can obtain GitHub Extended via <a href="https://www.npmjs.com/">npm</a>
            (<a href="https://www.npmjs.com/package/github-extended">npm page<span class="visually-hidden"> of GitHub
            Extended</span></a>),
            via <a href="http://git-scm.com">Git</a>
            (<a href="https://github.com/github-tools/github-extended">GitHub page<span class="visually-hidden"> of
            GitHub Extended</span></a>) or simply
            <a href="https://github.com/github-tools/github-extended/archive/master.zip">downloading the
            files<span class="visually-hidden"> of GitHub Extended</span></a> clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/github-tools/github-extended/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of GitHub Extended</span>
            </a>
            <a href="https://github.com/github-tools/github-extended"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">GitHub Extended </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Audero LSG</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/audero-lsg" target="_blank">Audero LSG (Living Style Guide)</a>
            is a Node.js utility to create a living style guide from CSS files.
         </p>
         <p>
            You can obtain Audero LSG via <a href="https://www.npmjs.com/">npm</a>
            (<a href="https://www.npmjs.com/package/audero-lsg">npm page<span class="visually-hidden"> of Audero
            LSG</span></a>),
            via <a href="http://git-scm.com">Git</a>
            (<a href="https://github.com/AurelioDeRosa/audero-lsg">GitHub page<span class="visually-hidden"> of
            Audero LSG</span></a>) or simply
            <a href="https://github.com/AurelioDeRosa/audero-lsg/archive/master.zip">downloading the
            files<span class="visually-hidden"> of Audero LSG</span></a> clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/audero-lsg/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero LSG</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/audero-lsg"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero LSG </span>on GitHub
            </a>
         </div>
      </article>
   </article>
</main>