---
title: jQuery Plugins
description:
---
<main>
   <article class="island belt">
      <h2>jQuery Plugins</h2>

      <p>
         <a href="http://jquery.com/" target="_blank">jQuery</a> is a popular JavaScript library, created by
         <a href="http://ejohn.org/" target="_blank">John Resig</a>,
         designed to simplify the client-side scripting of HTML. Plugins allow developers to extend jQuery features and
         create reusable components that can be used on any web page. In this page you'll find some of the plugins I
         developed over the time.
      </p>
      <article>
         <h3>Audero Unified Placeholders</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Unified-Placeholders">Audero Unified Placeholders</a>
            is a very lightweight cross-browser jQuery plugin to emulate the HTML5 placeholder attribute on browsers
            that
            don't support it. This placeholder's polyfill emulates perfectly the native behavior hiding the
            placeholders'
            text on the first input of the user and not on focus. In addition, it allows you to style the placeholders'
            texts using CSS and to override the browsers' native support (in those who had).
         </p>

         <div class="align-center">
            <a href="http://htmlpreview.github.io/?https://github.com/AurelioDeRosa/Audero-Unified-Placeholders/blob/master/demo/index.html"
               class="button button--rounded button--3d button--primary">
               View Demo<span class="visually-hidden"> of Audero Unified Placeholders</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Unified-Placeholders/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Unified Placeholders</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Unified-Placeholders"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Unified Placeholders </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Audero Smoke Effect</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Smoke-Effect" target="_blank">Audero Smoke Effect</a>
            is a jQuery plugin that let you create a smoke effect for one or more elements, usually images, on your web
            page. You can create the effect of a little smoke puff, cloud or anything else you want that appears from
            the
            elements you chose.
         </p>

         <div class="align-center">
            <a href="http://htmlpreview.github.io/?https://github.com/AurelioDeRosa/Audero-Smoke-Effect/blob/master/demo/index.html"
               class="button button--rounded button--3d button--primary">
               View Demo<span class="visually-hidden"> of Audero Smoke Effect</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Smoke-Effect/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Smoke Effect</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Smoke-Effect"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Smoke Effect </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Audero Context Menu</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Context-Menu" target="_blank">Audero Context Menu</a>
            is a cross-browser jQuery plugin that allows you to show a custom context menu on one or more specified
            elements.
         </p>

         <div class="align-center">
            <a href="http://htmlpreview.github.io/?https://github.com/AurelioDeRosa/Audero-Context-Menu/blob/master/demo/index.html"
               class="button button--rounded button--3d button--primary">
               View Demo<span class="visually-hidden"> of Audero Context Menu</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Context-Menu/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Context Menu</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Context-Menu"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Context Menu </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Audero Flashing Text</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Flashing-Text" target="_blank">Audero Flashing Text</a>
            is a cross-browser jQuery plugin that creates the effect of a flashing, randomly-placed and randomly-sized
            text inside a given HTML element (typically a <code>&lt;div&gt;</code>).
         </p>

         <div class="align-center">
            <a href="http://htmlpreview.github.io/?https://github.com/AurelioDeRosa/Audero-Flashing-Text/blob/master/demo/index.html"
               class="button button--rounded button--3d button--primary">
               View Demo<span class="visually-hidden"> of Audero Flashing Text</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Flashing-Text/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Flashing Text</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Flashing-Text"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Flashing Text </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Audero Text Changer</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Text-Changer" target="_blank">Audero Text Changer</a>
            is a very lightweight (minimized version is less than 1Kb) jQuery Mobile plugin that allows you to easily
            change the text of all the elements of your pages without breaking the enhancements made by the framework.
         </p>

         <div class="align-center">
            <a href="http://htmlpreview.github.io/?https://github.com/AurelioDeRosa/Audero-Text-Changer/blob/master/demo/index.html"
               class="button button--rounded button--3d button--primary">
               View Demo<span class="visually-hidden"> of Audero Text Changer</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Text-Changer/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Text Changer</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Text-Changer"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Text Changer </span>on GitHub
            </a>
         </div>
      </article>
   </article>
</main>