---
title: Minor Projects
description:
---
<main>
   <article class="island belt">
      <h2 class="project__title">Minor Projects</h2>
      <article>
         <h3>Audero MD5 Rainbow Table</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-MD5-Rainbow-Table">Audero MD5 Rainbow Table</a>
            is a precomputed table, made of <b>11.110.097</b> entries, for reversing strings encrypted using the
            MD5 hash function. The table is splitted into small chuncks to easily navigate it, even with less powered
            computers. There are exactly 12 .csv files in the repository: the first 11 files have 1.000.000 entries
            each, while the 12th contains the remaining.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Audero-MD5-Rainbow-Table/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero MD5 Rainbow Table</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-MD5-Rainbow-Table"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero MD5 Rainbow Table </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Algoritmi Fondamentali (in Italian)</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Algoritmi-Fondamentali">Algoritmi Fondamentali</a>
            è una libreria scritta in C che una raccoglie una serie di algoritmi che usualmente si studiano nei
            primi due esami di programmazione all'Università. Questa libreria è stata creata da nei primi anni
            di Università per aiutarmi a velocizzare la scrittura dei programmi che usualmente vengono assegnati
            ed ho deciso di condividerla per aiutare i nuovi studenti nel loro percorso di studi.
            Dato che la libreria è molto vecchia è documentata ma non a dovere ma la qualità degli algoritmi
            è ottima quindi sono più che usabili anzi, ci sono anche varie ottimizzazioni.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/HTML5-Environmental-Thermometer/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Algoritmi Fondamentali</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Algoritmi-Fondamentali"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Algoritmi Fondamentali </span>on GitHub
            </a>
         </div>
      </article>
   </article>
</main>