---
title: Mobile Apps
description:
---
<main>
   <article class="island belt">
      <h2>Mobile Apps</h2>

      <article class="media" itemscope itemtype="http://schema.org/MobileApplication">
         <h3 itemprop="name">Where I Parked My Car</h3>
         <a href="https://github.com/AurelioDeRosa/Where-I-Parked-My-Car" class="media__image" tabindex="-1">
            <img src="http://raw.github.com/AurelioDeRosa/Where-I-Parked-My-Car/master/images/splash-220x330.png"
                 alt="Where I Parked My Car splashscreen" itemprop="image" />
         </a>
         <p itemprop="description">
            <a href="https://github.com/AurelioDeRosa/Where-I-Parked-My-Car" itemprop="url">Where I Parked My Car</a>
            is an application for mobile devices that lets you bookmark where you parked your car, and then find a route
            to return to it. This application is useful if you don't have a good memory or if you're in a foreign city.
            In addition, Where I parked my car will also save a log of your saved positions (up to 50), so that you can
            retrieve a location for future use. The list allows you to see the position on a map, and you can also to
            delete one or more old locations.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Where-I-Parked-My-Car"
               class="button button--rounded button--3d button--primary" itemprop="url">
               View Source<span class="visually-hidden"> of Where I Parked My Car</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Where-I-Parked-My-Car/archive/master.zip"
               class="button button--rounded button--3d button--secondary" itemprop="downloadUrl">
               Download Source<span class="visually-hidden"> of Where I Parked My Car</span>
            </a>
         </div>
      </article>

      <article class="media" itemscope itemtype="http://schema.org/MobileApplication">
         <h2 itemprop="name">Currency Converter</h2>
         <a href="https://github.com/AurelioDeRosa/Currency-Converter" class="media__image media__image--right"
            tabindex="-1">
            <img src="http://github.com/AurelioDeRosa/Currency-Converter/raw/master/splash.png"
                 alt="Currency Converter splashscreen" itemprop="image" />
         </a>
         <p itemprop="description">
            <a href="https://github.com/AurelioDeRosa/Currency-Converter" itemprop="url">Currency Converter</a>
            is a simple application that helps you convert from a currency to another. You can update the exchange rates
            every time you want so you'll have always an up-to-date conversion. Once retrieved, the rates are saved so
            the user can use the application offline. Currently the app supports the following languages: English,
            Italian, French and Spanish.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Currency-Converter"
               class="button button--rounded button--3d button--primary" itemprop="url">
               View Source<span class="visually-hidden"> of Currency Converter</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Currency-Converter/archive/master.zip"
               class="button button--rounded button--3d button--secondary" itemprop="downloadUrl">
               Download Source<span class="visually-hidden"> of Currency Converter</span>
            </a>
         </div>
      </article>

      <article class="media" itemscope itemtype="http://schema.org/MobileApplication">
         <h2 itemprop="name">Audero Audio Player</h2>
         <a href="https://github.com/AurelioDeRosa/Audero-Audio-Player" class="media__image" tabindex="-1">
            <img src="http://raw.github.com/AurelioDeRosa/Audero-Audio-Player/master/splash.png"
                 alt="Audero Audio Player splashscreen" itemprop="image" />
         </a>
         <p itemprop="description">
            <a href="https://github.com/AurelioDeRosa/Audero-Audio-Player" itemprop="url">Audero Audio Player</a>
            is a basic audio player that collects the audio files found and then allows to listen them. This app also
            enables to update the list at any time to include other files that you might have downloaded after running
            the operation the first time. You can also remove from the list any unwanted audio by clicking an icon on
            the right side of the song's name. The sounds list is ordered alphabetically with letter dividers to
            organize
            and group the list items, and has a search box to filter the files.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Audero-Audio-Player"
               class="button button--rounded button--3d button--primary" itemprop="url">
               View Source<span class="visually-hidden"> of Audero Audio Player</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Audio-Player/archive/master.zip"
               class="button button--rounded button--3d button--secondary" itemprop="downloadUrl">
               Download Source<span class="visually-hidden"> of Audero Audio Player</span>
            </a>
         </div>
      </article>

      <article class="media" itemscope itemtype="http://schema.org/MobileApplication">
         <h2 itemprop="name">Audero Feed Reader</h2>
         <a href="https://github.com/AurelioDeRosa/Audero-Feed-Reader" class="media__image media__image--right"
            tabindex="-1">
            <img src="https://raw.githubusercontent.com/AurelioDeRosa/Audero-Feed-Reader/master/www/res/screen/android/screen-ldpi-portrait.png"
                 alt="Audero Feed Reader splashscreen" itemprop="image" />
         </a>
         <p itemprop="description">
            <a href="https://github.com/AurelioDeRosa/Audero-Feed-Reader" itemprop="url">Audero Feed Reader</a>
            is a very basic feed aggregator to keep in one place all the news and the articles you care about.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Audero-Feed-Reader"
               class="button button--rounded button--3d button--primary" itemprop="url">
               View Source<span class="visually-hidden"> of Audero Audio Player</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Feed-Reader/archive/master.zip"
               class="button button--rounded button--3d button--secondary" itemprop="downloadUrl">
               Download Source<span class="visually-hidden"> of Audero Audio Player</span>
            </a>
         </div>
      </article>
   </article>
</main>