---
title: Open Source Contributions
description:
---
<main>
   <article class="island belt">
      <h2>Open Source Contributions</h2>

      <p>
         I love to contribute to Open Source projects, especially the ones I use on a daily basis. Below you can find
         the
         major projects I've contributed to.
      </p>

      <div class="grid open-source-projects">
         <section class="grid__item tablet--one-half open-source-project">
            <h3 class="open-source-project__title"><a href="https://jquery.com/">jQuery</a></h3>

            <p class="open-source-project__description">
               jQuery is a fast, small, and feature-rich JavaScript library that makes things like HTML document
               traversal and manipulation, event handling, animation, and Ajax much simpler. jQuery is used by the
               64% of the top million websites.
            </p>
            <p class="open-source-project__contribution">
               As a member of the <a href="https://jquery.org/team/" target="_blank">jQuery team</a>,
               I've made several improvements to the jQuery documentation by adding and updating content, and fixing
               issues.
            </p>
         </section>
         <section class="grid__item tablet--one-half open-source-project">
            <h3 class="open-source-project__title"><a href="http://caniuse.com/">Can I Use</a></h3>

            <p class="open-source-project__description">
               A compatibility table for modern browsers, including mobile. If you’re looking to use an HTML5, CSS3,
               or SVG feature and need to know if a certain browser plays nicely with it, hit up <cite>Can I Use</cite>.
               Winner of the <a href="https://thenetawards.com/">Net awards 2014</a> as Side Project of the Year.
            </p>
            <p class="open-source-project__contribution">
               I'm the second most active contributor to this project. Over the time I've added several JavaScript APIs,
               reported cross-browser incompatibilities and issues, and improved the references.
            </p>
         </section>
         <section class="grid__item tablet--one-half open-source-project">
            <h3 class="open-source-project__title"><a href="http://gruntjs.com/">Grunt</a></h3>

            <p class="open-source-project__description">
               A JavaScript task runner that allows developers to automate laborious and repetitive tasks to let them
               focus on development.
            </p>
            <p class="open-source-project__contribution">
               I've made a lot of improvements to the documentation and helped the team with issues in other
               repositories related to the main library. Due to my work, I've been
               <a href="http://gruntjs.com/blog/2016-04-04-grunt-1.0.0-released">publicly thanked for my
               contribution to the Grunt project</a>.
            </p>
         </section>
         <section class="grid__item tablet--one-half open-source-project">
            <h3 class="open-source-project__title">
               <a href="https://github.com/michael/github">Github.js</a>
            </h3>

            <p class="open-source-project__description">
               A higher-level wrapper around the Github API. Intended for the browser. Github.js is one of the
               third-party libraries mentioned in the
               <a href="https://developer.github.com/libraries/#javascript">GitHub dedicated page</a>.
            </p>
            <p class="open-source-project__contribution">
               As a maintainer, I've added many new features, fixed bugs, and made several improvements
               to the documentation.
            </p>
         </section>
         <section class="grid__item tablet--one-half open-source-project">
            <h3 class="open-source-project__title"><a href="http://purecss.io/">PureCSS</a></h3>

            <p class="open-source-project__description">
               A set of small, responsive CSS modules that you can use in every web project.
            </p>
            <p class="open-source-project__contribution">
               I've fixed several bugs, improved the documentation and made several proposal to enhance the library.
               I was also <a href="https://www.youtube.com/watch?v=6GZPLhoupAk&amp;t=22m10s">publicly thanked for my
               contribution to the PureCSS project</a>.
            </p>
         </section>
         <section class="grid__item tablet--one-half open-source-project">
            <h3 class="open-source-project__title"><a href="https://wordpress.org/plugins/wp-to-twitter/">WP to
               Twitter</a></h3>

            <p class="open-source-project__description">
               Auto-posts a Twitter update when you update your WordPress blog or blogroll, with your chosen URL
               shortening service. It's one of the most used plugin for WordPress with more than <b>2 millions</b>
               of downloads.
            </p>
            <p class="open-source-project__contribution">
               I'm the Italian translator of this project as demonstrated by the
               <a href="https://www.joedolson.com/articles/translator-credits/">related page written by the author of WP
                  to Twitter</a>.
            </p>
         </section>
      </div>
   </article>
</main>