---
title: PHP libraries
description:
---
<main>
   <article class="island belt">
      <h2>PHP libraries</h2>

      <p>
         As a server-side language, I love PHP. In this page, you can find the PHP libraries I created to solve common
         issues that you can face when developing a website or a web application.
      </p>

      <article>
         <h3>Audero Wav Extractor</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Wav-Extractor" target="_blank">Audero Wav Extractor</a>
            is a PHP library that allows to extract a chunk from a wav file. The extracted chunk can be saved on the
            harddisk, can be forced to be prompted as download by the user's browser or returned as a string for a later
            processing.
         </p>
         <p>
            You can obtain Audero Wav Extractor via <a href="http://getcomposer.org">Composer</a>
            (<a href="https://packagist.org/packages/audero/audero-wav-extractor">Packagist page</a>),
            via <a href="http://git-scm.com">Git</a>
            (<a href="https://github.com/AurelioDeRosa/Audero-Wav-Extractor">GitHub
            page<span class="visually-hidden"> of Audero Wav Extractor</span></a>)
            or simply <a href="https://github.com/AurelioDeRosa/Audero-Wav-Extractor/archive/master.zip">downloading the
            files<span class="visually-hidden"> of Audero Wav Extractor</span></a> clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Audero-Wav-Extractor/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Wav Extractor</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Wav-Extractor"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Wav Extractor </span>on GitHub
            </a>
         </div>
      </article>

      <article>
         <h3>Audero Shared Gettext</h3>

         <p>
            <a href="https://github.com/AurelioDeRosa/Audero-Wav-Extractor" target="_blank">Audero Wav Extractor</a>
            is a PHP library that allows you to bypass the problem of the translations, loaded via the
            <code>gettext</code> function, that are cached by Apache.
         </p>
         <p>
            You can obtain Audero Shared Gettext via <a href="http://getcomposer.org">Composer</a>
            (<a href="https://packagist.org/packages/audero/audero-shared-gettext">Packagist page</a>),
            via <a href="http://git-scm.com">Git</a>
            (<a href="https://github.com/AurelioDeRosa/Audero-Shared-Gettext">GitHub
            page<span class="visually-hidden"> of Audero Shared Gettext</span></a>)
            or simply <a href="https://github.com/AurelioDeRosa/Audero-Shared-Gettext/archive/master.zip">downloading
            the files<span class="visually-hidden"> of Audero Shared Gettext</span></a> clicking the button below.
         </p>

         <div class="align-center">
            <a href="https://github.com/AurelioDeRosa/Audero-Shared-Gettext/archive/master.zip"
               class="button button--rounded button--3d button--primary">
               Download Source<span class="visually-hidden"> of Audero Shared Gettext</span>
            </a>
            <a href="https://github.com/AurelioDeRosa/Audero-Shared-Gettext"
               class="button button--rounded button--3d button--secondary">
               Fork <span class="visually-hidden">Audero Shared Gettext </span>on GitHub
            </a>
         </div>
      </article>
   </article>
</main>