---
title: WordPress Themes
description:
---
<main>
   <article class="island belt">
      <h2>WordPress Themes</h2>

      <p>
         WordPress is the most used <abbr title="Content Management System">CMS</abbr> in the world.
         A <abbr title="Content Management System">CMS</abbr> is a software that allows publishing, editing and managing
         content easily and quickly, usually without (almost) any knowledge. Themes allow you to change the
         look and features of a website or a blog based on WordPress without altering the contents or the structure.
      </p>
      <p>
         The followings are the WordPress themes I developed. I hope you'll enjoy.
      </p>

      <article class="media">
         <h3>Annarita</h3>

         <p>
            <a href="https://wordpress.org/themes/annarita/" tabindex="-1">
               <img class="media__image" src="https://wp-themes.com/wp-content/themes/annarita/screenshot.png"
                    alt="Annarita theme screenshot" tabindex="-1" />
            </a>
            <a href="https://wordpress.org/themes/annarita/">Annarita</a>
            is a very lightweight and adaptable theme based on HTML5 and CSS3. It lets you to create custom menu,
            sidebars,
            header image, background and support for featured images and it shows a special ribbon for "sticky" posts.
            It has the support to customize some settings of the theme. The sidebars can be hidden by the users with a
            click and this status can be persistent (if the admin enables the relative setting saving the preference
            using
            cookie in the Settings page). Basically it supports related posts and microformats as hcard and hreview
            (using a custom post type). For the reviews the theme has a custom widget to best show them. Annarita has
            two dedicated areas to publish advertisements, one above the header and one in the footer.
         </p>

         <div class="align-center">
            <a href="https://wp-themes.com/annarita/?TB_iframe=true&amp;width=1810&amp;height=975"
               class="button button--rounded button--3d button--primary">
               Live Preview<span class="visually-hidden"> of Annarita theme</span>
            </a>
            <a href="https://wordpress.org/themes/annarita/"
               class="button button--rounded button--3d button--primary">
               Theme Page<span class="visually-hidden"> of Annarita theme</span>
            </a>
         </div>
         <h4>Special Thanks</h4>

         <p>
            I would like to thank
            <a href="http://www.francescodecaprariis.it" target="_blank" rel="noopener noreferrer">Francesco Antonio
               de Caprariis</a> for the photo of the header. He is really a great photographer, so if you need, don't
            hesitate to get in touch. You can see more of his photo at his own website
            <a href="http://www.francescodecaprariis.it" target="_blank"
               rel="noopener noreferrer">www.francescodecaprariis.it</a>.
         </p>
         <h4>Dedication</h4>

         <p>
            This theme is dedicated to my girlfriend, Annarita, with love.
         </p>

         <h3>Who's using it</h3>

         <p>
            This section shows you some websites that are using Annarita theme:
         </p>

         <div class="grid">
            <div class="grid__item phablet--one-half tablet--one-third align-center">
               <a href="http://capitolraceway.com" class="truncate-text" rel="nofollow">The New Capitol Raceway</a>
               <a href="http://capitolraceway.com" class="align-horizontal" rel="nofollow" tabindex="-1">
                  <picture>
                     <source media="(min-width: 769px)" srcset="/images/the-new-capitol-raceway.jpg" />
                     <source srcset="/images/the-new-capitol-raceway-mobile.jpg" />
                     <img src="/images/the-new-capitol-raceway.jpg" alt="" />
                  </picture>
               </a>
            </div>
            <div class="grid__item phablet--one-half tablet--one-third align-center">
               <a href="http://www.pbhta.org" class="truncate-text" rel="nofollow">Potomac Bridle and Hiking Trails Association</a>
               <a href="http://www.pbhta.org" class="align-horizontal" rel="nofollow" tabindex="-1">
                  <picture>
                     <source media="(min-width: 769px)" srcset="/images/potomac-bridle-and-hiking-trails-association.jpg" />
                     <source srcset="/images/potomac-bridle-and-hiking-trails-association-mobile.jpg" />
                     <img src="/images/potomac-bridle-and-hiking-trails-association.jpg" alt="" />
                  </picture>
               </a>
            </div>
            <div class="grid__item phablet--one-half tablet--one-third align-center">
               <a href="http://kansasalr.com/" class="truncate-text" rel="nofollow">Kansas American Legion Riders</a>
               <a href="http://kansasalr.com/" class="align-horizontal" rel="nofollow" tabindex="-1">
                  <picture>
                     <source media="(min-width: 769px)" srcset="/images/kansas-american-legion-riders.jpg" />
                     <source srcset="/images/kansas-american-legion-riders-mobile.jpg" />
                     <img src="/images/kansas-american-legion-riders.jpg" alt="" />
                  </picture>
               </a>
            </div>
         </div>
      </article>
      <div class="align-center">
         <a href="https://wp-themes.com/annarita/?TB_iframe=true&amp;width=1810&amp;height=975"
            class="button button--rounded button--3d button--primary">
            Live Preview<span class="visually-hidden"> of Annarita theme</span>
         </a>
         <a href="https://wordpress.org/themes/annarita/"
            class="button button--rounded button--3d button--primary">
            Theme Page<span class="visually-hidden"> of Annarita theme</span>
         </a>
      </div>
   </article>
</main>