---
title: Page not found
---
<main>
   <section class="island belt media">
      <img class="media__image" src="/images/404-error.png" alt="" />
      <h2>404 - Page not found</h2>
      <p>
         What a shame, this is so embarrassing! I'm sorry but the page  you were looking for isn't available anymore.
         Bad link? Mistyped address? Who knows...
      </p>
      <p>
         Anyway, feel free to continue navigating into my website using the navigation menu to see other cool stuff.
      </p>
      </section>
 </main>