---
title: Books
description: Learn more about the books written by Aurelio De Rosa.
---
<main>
   <section class="island belt">
      <h2>Books</h2>
      <p>
         If I had the chance to learn so many things is also because of the books I read. I strongly believe in the
         importance of sharing what I know through books. For this reason, I worked with some of the leading
         companies in the industry to publish books that are easy to understand and whose aim is teach techniques that
         developers can apply in their day-to-day work.
      </p>
   </section>

   <article class="island belt book" itemscope="" itemtype="http://schema.org/Book">
      <h2 class="book__title" itemprop="name">
         <a href="https://www.manning.com/books/jquery-in-action-third-edition">jQuery in Action, third edition</a>
      </h2>
      <div class="media book__description" itemprop="description">
         <a href="https://www.manning.com/books/jquery-in-action-third-edition" class="media__image picture" tabindex="-1">
            <img class="book__cover" src="/images/jquery-in-action-third-edition-cover.jpg"
                 alt="Cover of jQuery in Action, third edition" itemprop="image" />
         </a>
         <p>
            <cite>jQuery in Action, third edition</cite>, is a fast-paced complete guide to jQuery focused on the tasks
            you'll face in nearly any web dev project. Written for readers with minimal JavaScript experience, this
            revised edition adds new examples and exercises, along with the deep and practical coverage you expect
            from an In Action book.
         </p>
         <p>
            You'll learn how to traverse HTML documents, handle events, perform animations, write plugins, and even unit
            test your code. The unique lab pages anchor each concept with real-world code. Several new chapters teach you
            how to interact with other tools and frameworks to build modern single-page web applications.
         </p>
      </div>
      <div class="align-center">
         <a href="https://manning-content.s3.amazonaws.com/download/4/7205cce-afdc-4d67-bb92-764e225fbeb2/Sample_Ch_01.pdf"
            class="button button--3d button--rounded button--primary">
            Read a free chapter<span class="visually-hidden"> of jQuery in Action, third edition</span>
         </a>
      </div>
      <section>
         <h3>Further details</h3>
         <dl class="book__details">
            <dt>Author</dt>
            <dd itemprop="author">Bear Bibeault, Yehuda Katz, Aurelio De Rosa</dd>
            <dt>Publisher</dt>
            <dd itemprop="publisher">Manning</dd>
            <dt>Language</dt>
            <dd itemprop="inLanguage">English</dd>
            <dt>Pages</dt>
            <dd itemprop="numberOfPages">504</dd>
            <dt>Published</dt>
            <dd itemprop="datePublished"><time datetime="2015-08">August 2015</time></dd>
            <dt>ISBN</dt>
            <dd itemprop="isbn">9781617292071</dd>
         </dl>
      </section>
      <div class="align-center">
         <a href="https://www.manning.com/books/jquery-in-action-third-edition" class="button button--3d button--rounded button--secondary">
            Read more<span class="visually-hidden"> about jQuery in Action, third edition</span>
         </a>
         <a href="https://www.manning.com/books/jquery-in-action-third-edition" class="button button--3d button--rounded button--primary">
            Buy the book<span class="visually-hidden"> jQuery in Action, third edition</span>
         </a>
      </div>
      <p>
         This book is also available on the following websites:
      </p>
      <ul>
         <li>
            <a href="http://www.amazon.com/jQuery-Action-Bear-Bibeault/dp/1617292079/">
               <span class="visually-hidden">Buy the book jQuery in Action, third edition on </span>Amazon
            </a>
         </li>
         <li>
            <a href="http://my.safaribooksonline.com/9781617292071">
               <span class="visually-hidden">Buy the book jQuery in Action, third edition on </span>Safari Books Online
            </a>
         </li>
      </ul>
   </article>

   <article class="island belt book" itemscope="" itemtype="http://schema.org/Book">
      <h2 class="book__title" itemprop="name">
         <a href="https://www.packtpub.com/web-development/instant-jquery-selectors-instant">Instant jQuery Selectors</a>
      </h2>
      <div class="media book__description" itemprop="description">
         <a href="https://www.packtpub.com/web-development/instant-jquery-selectors-instant"
            class="media__image picture" tabindex="-1">
            <img class="book__cover" src="/images/instant-jquery-selectors-cover.jpg"
                 alt="Instant jQuery Selectors cover" itemprop="image" />
         </a>
         <p>
            <cite>Instant jQuery Selectors</cite> is a practical guide that will teach you how to use jQuery's selectors
            efficiently in order to easily select the elements of your pages to operate upon with jQuery's methods.
            You will go through the most common problems that you could face while developing your project and will
            learn how to solve them with the help of focused examples that <cite>Instant jQuery Selectors</cite> has
            to offer.
         </p>
         <p>
            <cite>Instant jQuery Selectors</cite> is for web developers who want to delve into jQuery from its very
            starting point: selectors. Even if you're already familiar with the framework and its selectors, you could
            find several tips and tricks that you aren't aware of, especially about performance and how jQuery acts behind
            the scenes.
         </p>
      </div>
      <div class="align-center">
         <a href="https://www.packtpub.com/books/content/selecting-attributes-should-know"
            class="button button--3d button--rounded button--primary">
            Read a free chapter<span class="visually-hidden"> of Instant jQuery Selector</span>
         </a>
      </div>
      <section>
         <h3>Further details</h3>
         <dl class="book__details">
            <dt>Author</dt>
            <dd itemprop="author">Aurelio De Rosa</dd>
            <dt>Publisher</dt>
            <dd itemprop="publisher">Packt Publishing</dd>
            <dt>Language</dt>
            <dd itemprop="inLanguage">English</dd>
            <dt>Pages</dt>
            <dd itemprop="numberOfPages">70</dd>
            <dt>Published</dt>
            <dd itemprop="datePublished"><time datetime="2013-08-26">26 August 2013</time></dd>
            <dt>ISBN</dt>
            <dd itemprop="isbn">9781783282210</dd>
         </dl>
      </section>
      <section>
         <h3>Reviews</h3>
         <blockquote cite="https://www.spiralli.ie/instant-jquery-selectors-review/" class="pull-quote" itemprop="review"
                     itemscope="" itemtype="http://schema.org/Review">
            <p class="pull-quote__text" itemprop="description">
               Because the e-book focuses on one topic only, my feeling is that it covers the subject in greater
               detail than you would usually find in a generic jQuery book, and for this reason in particular,
               it will be a welcome addition to any programmer's virtual bookshelf.
            </p>
            <footer>
               — <cite itemprop="author">Ivan O'Donoghue</cite>
            </footer>
         </blockquote>
         <blockquote cite="https://www.spiralli.ie/instant-jquery-selectors-review/" class="pull-quote" itemprop="review"
                     itemscope="" itemtype="http://schema.org/Review">
            <p class="pull-quote__text" itemprop="description">
               It is filled with several examples and does have useful tips and tricks to improve the performance
               of your website by simply selecting elements in the right way.
            </p>
            <footer>
               — <cite itemprop="author">Pedram Badakhchani</cite>
            </footer>
         </blockquote>
         <blockquote cite="https://medium.com/@shahverd/a-short-review-of-instant-jquery-selectors-d09f579e3825"
                     class="pull-quote" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <p class="pull-quote__text" itemprop="description">
               This book is covering selectors in deep, explaining with a full set of samples necessary for learners.
               Step-by-step progress covers are pretty good too.
            </p>
            <footer>
               — <cite itemprop="author">Mostafa Shahverdy</cite>
            </footer>
         </blockquote>
         <blockquote cite="https://www.goodreads.com/review/show/758337821" class="pull-quote" itemprop="review"
                     itemscope="" itemtype="http://schema.org/Review">
            <p class="pull-quote__text" itemprop="description">
               This book fella is nicest and uses the simple and elegant format of recipes to show us the best way
               to solve cases using the selectors in jQuery.
            </p>
            <footer>
               — <cite itemprop="author">Miguel Ortiz Camilo</cite>
            </footer>
         </blockquote>
      </section>
      <div class="align-center">
         <a href="https://www.packtpub.com/web-development/instant-jquery-selectors-instant"
            class="button button--3d button--rounded button--secondary">
            Read more<span class="visually-hidden"> about Instant jQuery Selectors</span>
         </a>
         <a href="https://www.packtpub.com/web-development/instant-jquery-selectors-instant"
            class="button button--3d button--rounded button--primary">
            Buy the book<span class="visually-hidden"> Instant jQuery Selectors</span>
         </a>
      </div>
      <p>
         This book is also available on the following websites:
      </p>
      <ul>
         <li>
            <a href="http://www.amazon.com/Instant-jQuery-Selectors-ebook/dp/B00ESX17MU/">
               <span class="visually-hidden">Buy the book Instant jQuery Selectors on </span>Amazon
            </a>
         </li>
         <li>
            <a href="http://shop.oreilly.com/product/9781783282210.do">
               <span class="visually-hidden">Buy the book Instant jQuery Selectors on </span>O'Reilly
            </a>
         </li>
         <li>
            <a href="http://my.safaribooksonline.com/9781783282210">
               <span class="visually-hidden">Buy the book Instant jQuery Selectors on </span>Safari Books Online
            </a>
         </li>
      </ul>
   </article>
</main>