$alizarinCrimson: #D72222;
$black: #000000;
$blue: #0000FF;
$crimson: #DD1338;
$faluRed: #8A1A1A;
$grainBrown: #DDCBAF;
$grey: #888888;
$guardsmanRed: #BB0000;
$matrix: #B56B65;
$shark: #2B2E36;
$sharkDark: #202228;
$silver: #CCCCCC;
$silverChalice: #ADADAD;
$thunderbird: #BA1E1E;
$white: #FFFFFF;
$yellow: #FFFF00;