$auderoFontFamilyBase: Calibri, Arial, Helvetica, sans-serif;
$auderoFontFamilyGaramond: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
$auderoFontFamilyGraduate: Graduate;

// Font sizes
$auderoFontSizesBase: (
   null: 16px,
   phablet: 17px,
   tablet: 18px,
   desktop: 20px
);

$auderoFontSizes: (
   tiny: 0.5rem,
   extraSmall: 0.75rem,
   small: 0.9rem,
   normal: 1rem,
   large: 1.25rem,
   extraLarge: 1.5rem,
   huge: 2rem
);

$auderoFontSizesRelatives: (
   tiny: 0.5em,
   extraSmall: 0.75em,
   small: 0.9em,
   normal: 1em,
   large: 1.25em,
   extraLarge: 1.5em,
   huge: 2em
);

$auderoSpacingUnits: (
   tiny: 0.25em,
   extraSmall: 0.5em,
   small: 0.75em,
   normal: 1em,
   large: 1.25em,
   extraLarge: 1.5em,
   huge: 2em
);